body {
    font-family: Arial, sans-serif;
    /* padding: 1rem 2rem; */
    /* background-color: #f9f9f9;  */
    background-color: #eeeeee;
    text-align: center;
    margin: 0px;
    margin-top: 115px;
}

.container{
    display: block;
    max-width: 850px;
    margin: auto;
}

form {
    width: 100%;
}

label,
input{
    display: block;
    font-size: 18px;
}

label {
    margin-bottom: 5px;
}

input {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, .button {
    min-width: 200px;
    padding: 0.75rem;
    cursor: pointer;
    background-color: #234d6f; 
    color: white; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

.input-group {
    text-align: left;    
}

.input-group:not(:last-child) {
    margin-bottom: 15px; 
}

/* Header Styles */
header {    
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #405189;
    text-align: left;
    color: white;
    padding: 1rem 0;    
    box-shadow: 0 4px 15px 8px rgba(128, 128, 128, 0.25);
}

header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}

header .title img {
    height: 40px;      
    margin-right: 10px;  
}

header .title h1 {
    margin: 0px;
    font-size: 1.5rem;
}

/* Card Styles */
.card {
    background-color: white;
    padding: 1.5rem 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 1.5rem;
}

/* Table Styles */
.table {
    margin-top: 15px;
}

.table .header {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
}

.column {
    text-align: left;
    padding: 5px;
    align-self: center;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 50%;
}

.col3 {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.col3 form {
    width: auto;
    margin-right: 5px;
}

.table button, .table .button{
    min-width: auto;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #234d6f; 
    color: white; 
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

.table button.complete {
    background-color: green; 
}

.table .button.edit {
    margin-right: 5px;
}

.table button.delete {
    background-color: darkred; 
}

.completed .col1,
.completed .col2{
    color: grey;
    text-decoration: line-through;
}

.completed button.complete, .button.cancel {
    background-color: grey;
}

/* Error */
.error {
    background-color: #f8d7da;
    border-color: #f1aeb5;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    padding: 1rem;
    border-radius: .375rem;
}